<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <head th:include="head :: head"> </head>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <header th:include="header :: header"> </header>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <sidebar th:include="sidebar :: sidebar"> </sidebar>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="influence-finder">
                <div class="container-fluid dashboard-content">
                    
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                        <h5 class="card-header">취소 │ 교환 │ 반품 조회</h5>
                            <!-- ============================================================== -->
                            <!-- card influencer one -->
                            <!-- ============================================================== -->
                            <div class="card" th:if="${ #lists.size(orders) } > 0" th:each="order : ${ orders }">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="user-avatar float-xl-left pr-4 float-none">
                                                <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xl">
                                                    </div>
                                                <div class="pl-xl-3">
                                                    <div class="rating-star d-inline-block mb-2 mb-xl-0">
                                                        <div th:if="${order.star == 0}">
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 1}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 2}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 3}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                    <div th:if="${order.star == 4}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                    <div th:if="${order.star == 5}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    </div>
                                                            <p class="d-inline-block text-dark">후기 갯수 : 14 │ 문의 갯수 : 14 (별점 + 후기 ,문의 작업중)</p>
                                                        </div>  
	                                                    <div class="m-b-0">                                                    
	                                                    	<h5 th:text="주문번호 + ' : ' +${order.ono} + ' │ ' + 주문날짜 + ' : ' +${order.odate}"></h5>
	                                                        <h3 th:text="상품명 + ' : ' +${order.pname} +' │ 색상 : ' + ${order.color} + ' │ 사이즈 : '+ ${order.size}+ ' │ 갯수 : '+ ${order.quantity}+개"></h3>                                                            
	                                                    </div>
                                                    	<h3 th:if="${order.oactive == 1}">주문상태 : 결제완료</h3> 
                                                    	<h3 th:if="${order.oactive == 2}">주문상태 : 상품출고</h3>
                                                    	<h3 th:if="${order.oactive == 3}">주문상태 : 배송중</h3>
                                                    	<h3 th:if="${order.oactive == 4}">주문상태 : 배송완료</h3>
                                                    	<h3 th:if="${order.oactive == 5}">주문상태 : 후기완료</h3>
                                                    	<h3 th:if="${order.oactive == 6}">주문상태 : 취소요청</h3>
                                                    	<h3 th:if="${order.oactive == 7}">주문상태 : 취소완료</h3>
                                                    	<h3 th:if="${order.oactive == 8}">주문상태 : 교환요청</h3>
                                                    	<h3 th:if="${order.oactive == 9}">주문상태 : 교환완료</h3>
                                                    	<h3 th:if="${order.oactive == 10}">주문상태 : 반품요청</h3>
                                                    	<h3 th:if="${order.oactive == 11}">주문상태 : 반품완료</h3>
                                                    	<h3 th:if="${order.oactive == 12}">주문상태 : 환불요청</h3>
                                                    	<h3 th:if="${order.oactive == 13}">주문상태 : 환불완료</h3>                                                 	
                                                    	<div class="user-avatar-address">
                                                        <p class="mb-2" th:text="우편번호 + ' : ' +${order.zip} + ' │ ' + 일반주소 + ' : ' + ${order.address1} + ' │ ' + 상세주소 + ' : ' +${order.address2}"></p>
                                                        <div class="mt-3">
                                                            <a href="#" class="mr-1 badge badge-light" th:text="성별 + ' : ' +${order.gender}"></a>
                                                            <a href="#" class="mr-1 badge badge-light" th:text="나이 + ' : ' +${order.age}"></a>
                                                            <a href="#" class="mr-1 badge badge-light" th:text="전화번호 + ' : ' +${order.tel}"></a>
                                                            <a href="#" class="badge badge-light" th:text="url + ' : ' +${order.url}"></a>
                                                            <a href="#" class="badge badge-light" th:text="닉네임 + ' : ' +${order.nickname}"></a>
                                                            <a href="#" class="badge badge-light" th:text="성함 + ' : ' +${order.uname}"></a>
                                                            <a href="#" class="badge badge-light" th:text="아이디 + ' : ' +${order.id}"></a>
                                                        </div>
                                                        <h4 class="mt-3" th:text="주문요청사항 + ' : ' +${order.content}"></h4> 
                                                    	</div>     
                                                        	<a th:href="@{all-order1(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 1}" class="btn btn-primary mt-3" style="font-size:15px">상품출고하기</a>
                                                        	<a th:href="@{all-order2(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 6}" class="btn btn-primary mt-3" style="font-size:15px">취소완료</a>
                                                        	<a th:href="@{all-order3(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 8}" class="btn btn-primary mt-3" style="font-size:15px">교환완료</a>
                                                        	<a th:href="@{all-order4(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 10}" class="btn btn-primary mt-3" style="font-size:15px">반품완료</a>
                                                        	<a th:href="@{all-order5(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 12}" class="btn btn-primary mt-3" style="font-size:15px">환불완료</a>
                                                        	<a th:href="@{all-order6(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 1}" class="btn btn-primary mt-3" style="font-size:15px">취소요청하기</a>
                                                        	<a th:href="@{all-order7(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">교환요청하기</a>
                                                        	<a th:href="@{all-order8(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">반품요청하기</a>
                                                        	<a th:href="@{all-order9(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">환불요청하기</a>                                                        	
                                                        	<a th:href="@{all-order10(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">상품후기쓰기</a>
                                                        	<a th:href="@{all-order11(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 2}" class="btn btn-primary mt-3" style="font-size:15px">배송중하기</a>
                                                        	<a th:href="@{all-order12(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 3}" class="btn btn-primary mt-3" style="font-size:15px">배송완료하기</a>                                                                                                
                                                    </div>                                          
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ============================================================== -->
                                <!-- end card influencer one -->
                                <!-- ============================================================== -->                                

                                <!-- ============================================================== -->
                                <!-- end content -->
                                <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- influencer sidebar  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">                            
                            <h5 class="card-header">검색</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="font-16">정렬기준</h3>
                                        <select class="form-control">
                                            <option>가나다순</option>
                                            <option>Followers</option>
                                        </select>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">별점순</h3>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1"><i class="fas fa-star rating-color fa-xs"></i></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio3"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio4"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio5"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i><i class="fas fa-star rating-color fa-xs fa-xs"></i></label>
                                        </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">상태순</h3>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck10">
                                            <label class="custom-control-label" for="customCheck10">배송중</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck11">
                                            <label class="custom-control-label" for="customCheck11">결제전</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck12">
                                            <label class="custom-control-label" for="customCheck12">배송완료</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck13">
                                            <label class="custom-control-label" for="customCheck13">결제후</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                                            <label class="custom-control-label" for="customCheck14">출고준비중</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                                            <label class="custom-control-label" for="customCheck14">후기보러가기</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                                            <label class="custom-control-label" for="customCheck14">반품완료</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck14">
                                            <label class="custom-control-label" for="customCheck14">환불완료</label>
                                        </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">모든날짜순</h3>
                                        <select class="form-control">
                                            <option selected>날짜를 선택하세요</option>
                                            <option value="지난 1시간">지난 1시간</option>
                                            <option value="지난 1일">지난 1일</option>
                                            <option value="지난 1주">지난 1주</option>
                                            <option value="지난 1개월">지난 1개월</option>
                                            <option value="지난 1년">지난 1년</option>
                                        </select>
                                    </div>
                                    <div class="card-body border-top">
                                        <a href="#" class="btn btn-secondary btn-lg btn-block">검색하기</a>
                                    </div>
                                </div>
                            </div>
                            </div>                            
                            <!-- ============================================================== -->
                            <!-- end influencer sidebar  -->
                            <!-- ============================================================== -->
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper  -->
            <!-- ============================================================== -->
            <!-- Optional JavaScript -->
            <!-- jquery 3.3.1 -->
            <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
            <!-- bootstap bundle js -->
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
            <!-- slimscroll js -->
            <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
            <!-- main js -->
            <script src="assets/libs/js/main-js.js"></script>
</body>
 
</html>