<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <head th:include="head :: head"> </head>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <header th:include="header :: header"> </header>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <sidebar th:include="sidebar :: sidebar"> </sidebar>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="influence-finder">
                <div class="container-fluid dashboard-content">
                    
                    <!-- ============================================================== -->
                    <!-- content -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12">
                        <h5 class="card-header">주문목록</h5>
                            <!-- ============================================================== -->
                            <!-- card influencer one -->
                            <!-- ============================================================== -->
                            <div class="card" th:if="${ #lists.size(orders) } > 0" th:each="order : ${ orders }">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="user-avatar float-xl-left pr-4 float-none">
                                                <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xl">
                                                    </div>
                                                <div class="pl-xl-3">
                                                    <div class="rating-star d-inline-block mb-2 mb-xl-0">
                                                        <div th:if="${order.star == 0}">
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 1}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 2}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                	<div th:if="${order.star == 3}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                    <div th:if="${order.star == 4}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="far fa-star"></i>
	                                                    </div>
	                                                    <div th:if="${order.star == 5}">
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    <i class="fa fa-fw fa-star"></i>
	                                                    </div>
                                                            <p class="d-inline-block text-dark">후기 갯수 : 14 │ 문의 갯수 : 14 (별점 + 후기 ,문의 작업중)</p>
                                                        </div>  
	                                                    <div class="m-b-0">                                                    
	                                                    	<h5 th:text="주문번호 + ' : ' +${order.ono} + ' │ ' + 주문날짜 + ' : ' +${order.odate}"></h5>
	                                                        <h3 th:text="상품명 + ' : ' +${order.pname} +' │ 색상 : ' + ${order.color} + ' │ 사이즈 : '+ ${order.size}+ ' │ 갯수 : '+ ${order.quantity}+개"></h3>                                                            
	                                                    </div>
                                                    	<h3 th:if="${order.oactive == 1}">주문상태 : 결제완료</h3> 
                                                    	<h3 th:if="${order.oactive == 2}">주문상태 : 상품출고</h3>
                                                    	<h3 th:if="${order.oactive == 3}">주문상태 : 배송중</h3>
                                                    	<h3 th:if="${order.oactive == 4}">주문상태 : 배송완료</h3>
                                                    	<h3 th:if="${order.oactive == 5}">주문상태 : 후기완료</h3>
                                                    	<h3 th:if="${order.oactive == 6}">주문상태 : 취소요청</h3>
                                                    	<h3 th:if="${order.oactive == 7}">주문상태 : 취소완료</h3>
                                                    	<h3 th:if="${order.oactive == 8}">주문상태 : 교환요청</h3>
                                                    	<h3 th:if="${order.oactive == 9}">주문상태 : 교환완료</h3>
                                                    	<h3 th:if="${order.oactive == 10}">주문상태 : 반품요청</h3>
                                                    	<h3 th:if="${order.oactive == 11}">주문상태 : 반품완료</h3>
                                                    	<h3 th:if="${order.oactive == 12}">주문상태 : 환불요청</h3>
                                                    	<h3 th:if="${order.oactive == 13}">주문상태 : 환불완료</h3>                                                 	
                                                    	<div class="user-avatar-address">
                                                        <p class="mb-2" th:text="우편번호 + ' : ' +${order.zip} + ' │ ' + 일반주소 + ' : ' + ${order.address1} + ' │ ' + 상세주소 + ' : ' +${order.address2}"></p>
                                                        <div class="mt-3">
                                                            <a href="#" class="mr-1 badge badge-light" th:text="성별 + ' : ' +${order.gender}"></a>
                                                            <a href="#" class="mr-1 badge badge-light" th:text="나이 + ' : ' +${order.age}"></a>
                                                            <a href="#" class="mr-1 badge badge-light" th:text="전화번호 + ' : ' +${order.tel}"></a>
                                                            <a href="#" class="badge badge-light" th:text="url + ' : ' +${order.url}"></a>
                                                            <a href="#" class="badge badge-light" th:text="닉네임 + ' : ' +${order.nickname}"></a>
                                                            <a href="#" class="badge badge-light" th:text="성함 + ' : ' +${order.uname}"></a>
                                                            <a href="#" class="badge badge-light" th:text="아이디 + ' : ' +${order.id}"></a>
                                                        </div>
                                                        <h4 class="mt-3" th:text="주문요청사항 + ' : ' +${order.content}"></h4> 
                                                    	</div>   
                                                        	<a th:href="@{all-order1(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 1}" class="btn btn-primary mt-3" style="font-size:15px">상품출고하기</a>
                                                        	<a th:href="@{all-order2(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 6}" class="btn btn-primary mt-3" style="font-size:15px">취소완료</a>
                                                        	<a th:href="@{all-order3(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 8}" class="btn btn-primary mt-3" style="font-size:15px">교환완료</a>
                                                        	<a th:href="@{all-order4(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 10}" class="btn btn-primary mt-3" style="font-size:15px">반품완료</a>
                                                        	<a th:href="@{all-order5(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 12}" class="btn btn-primary mt-3" style="font-size:15px">환불완료</a>
                                                        	<a th:href="@{all-order6(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 1}" class="btn btn-primary mt-3" style="font-size:15px">취소요청하기</a>
                                                        	<a th:href="@{all-order7(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">교환요청하기</a>
                                                        	<a th:href="@{all-order8(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">반품요청하기</a>
                                                        	<a th:href="@{all-order9(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">환불요청하기</a>                                                        	
                                                        	<a th:href="@{all-order10(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 0} and ${order.oactive == 4}" class="btn btn-primary mt-3" style="font-size:15px">상품후기쓰기</a>
                                                        	<a th:href="@{all-order11(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 2}" class="btn btn-primary mt-3" style="font-size:15px">배송중하기</a>
                                                        	<a th:href="@{all-order12(ono=${ order.ono })}" th:if="${session.loginuser != null} and ${session.loginuser.uactive == 1} and ${order.oactive == 3}" class="btn btn-primary mt-3" style="font-size:15px">배송완료하기</a>                                                                                                        
                                                    </div>                                          
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ============================================================== -->
                                <!-- end card influencer one -->
                                <!-- ============================================================== -->                                

                                <!-- ============================================================== -->
                                <!-- end content -->
                                <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- influencer sidebar  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12">                            
                            <h5 class="card-header">검색</h5>
                            <form id="all-order" data-parsley-validate="" novalidate="" method="post">   
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="font-16">정렬기준</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="34" name="radio">
                                        <label class="custom-control-label" for="34" value="34">가나다순</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="35" name="radio">
                                        <label class="custom-control-label" for="35" value="35">낮은금액순</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="36" name="radio">
                                        <label class="custom-control-label" for="36" value="36">높은금액순</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="37" name="radio">
                                        <label class="custom-control-label" for="37" value="37">주문순</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">별점순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="38" name="radio">
                                        <label class="custom-control-label" for="38" value="38"><i class="fas fa-star rating-color fa-xs"></i></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="39" name="radio">
                                        <label class="custom-control-label" for="39" value="39"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="40" name="radio">
                                        <label class="custom-control-label" for="40" value="40"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="41" name="radio">
                                        <label class="custom-control-label" for="41" value="41"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="42" name="radio">
                                        <label class="custom-control-label" for="42" value="42"><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i><i class="fas fa-star rating-color fa-xs"></i></label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">모든날짜순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="43" name="radio">
                                        <label class="custom-control-label" for="43" value="43">지난 1시간</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="44" name="radio">
                                        <label class="custom-control-label" for="44" value="44">지난 1일</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="45" name="radio">
                                        <label class="custom-control-label" for="45" value="45">지난 1주</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="46" name="radio">
                                        <label class="custom-control-label" for="46" value="46">지난 1개월</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="47" name="radio">
                                        <label class="custom-control-label" for="47" value="47">지난 1년</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">카테고리순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="1" name="radio">
                                        <label class="custom-control-label" for="1" value="1">제습제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="2" name="radio">
                                        <label class="custom-control-label" for="2" value="2">베이킹소다 | 구연산</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="3" name="radio">
                                        <label class="custom-control-label" for="3" value="3">곰팡이제거제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="4" name="radio">
                                        <label class="custom-control-label" for="4" value="4">락스 | 배수구세정제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="5" name="radio">
                                        <label class="custom-control-label" for="5" value="5">변기세정제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="6" name="radio">
                                        <label class="custom-control-label" for="6" value="6">세탁세제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="7" name="radio">
                                        <label class="custom-control-label" for="7" value="7">세탁조세정제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="8" name="radio">
                                        <label class="custom-control-label" for="8" value="8">주방세제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="9" name="radio">
                                        <label class="custom-control-label" for="9" value="9">주방잡화</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="10" name="radio">
                                        <label class="custom-control-label" for="10" value="10">치약</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="11" name="radio">
                                        <label class="custom-control-label" for="11" value="11">칫솔</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="12" name="radio">
                                        <label class="custom-control-label" for="12" value="12">구강청정제</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="13" name="radio">
                                        <label class="custom-control-label" for="13" value="13">핸드워시</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="14" name="radio">
                                        <label class="custom-control-label" for="14" value="14">핸드크림</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="15" name="radio">
                                        <label class="custom-control-label" for="15" value="15">헤어케어</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="16" name="radio">
                                        <label class="custom-control-label" for="16" value="16">시트 마스크</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="17" name="radio">
                                        <label class="custom-control-label" for="17" value="17">쿨링패치</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="18" name="radio">
                                        <label class="custom-control-label" for="18" value="18">수납│욕실</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">사이즈순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                    	<input type="radio" class="custom-control-input" id="size1" name="radio">
                                        <label class="custom-control-label" for="size1" value="20">Small</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="size2" name="radio">
                                        <label class="custom-control-label" for="size2" value="21">Medium</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                    	<input type="radio" class="custom-control-input" id="size3" name="radio">
                                        <label class="custom-control-label" for="size3" value="22">Large</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                    	<input type="radio" class="custom-control-input" id="size4" name="radio">
                                        <label class="custom-control-label" for="size4" value="23">Extra Large</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">컬러순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-1" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-1" value="24">파랑</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-2" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-2" value="25">노랑</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-3" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-3" value="26">빨강</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-4" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-4" value="27">초록</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-5" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-5" value="28">주황</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-6" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-6" value="29">남색</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" id="color-7" name="radio" class="custom-control-input">
                                        <label class="custom-control-label" for="color-7" value="30">보라</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">금액순</h3>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="price-1" name="radio">
                                        <label class="custom-control-label" for="price-1" value="31">1만원대</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="price-2" name="radio">
                                        <label class="custom-control-label" for="price-2" value="32">50만원대</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-color-black ">
                                        <input type="radio" class="custom-control-input" id="price-3" name="radio">
                                        <label class="custom-control-label" for="price-3" value="33">100만원대</label>
                                    </div>
                                    </div>
                                    <div class="card-body border-top">
                                        <h3 class="font-16">상태순</h3>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-1" name="radio">
	                                    <label class="custom-control-label" for="state-1" value="48">결제완료</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-2" name="radio">
	                                    <label class="custom-control-label" for="state-2" value="49">상품출고</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-3" name="radio">
	                                    <label class="custom-control-label" for="state-3" value="50">배송중</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-4" name="radio">
	                                    <label class="custom-control-label" for="state-4" value="51">배송완료</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-5" name="radio">
	                                    <label class="custom-control-label" for="state-5" value="52">후기완료</label>
	                                </div>	                                
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-2" name="radio">
	                                    <label class="custom-control-label" for="state-2" value="53">취소요청</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-3" name="radio">
	                                    <label class="custom-control-label" for="state-3" value="54">취소완료</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-4" name="radio">
	                                    <label class="custom-control-label" for="state-4" value="55">교환요청</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-5" name="radio">
	                                    <label class="custom-control-label" for="state-5" value="56">교환완료</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-2" name="radio">
	                                    <label class="custom-control-label" for="state-2" value="57">반품요청</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-3" name="radio">
	                                    <label class="custom-control-label" for="state-3" value="58">반품완료</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-4" name="radio">
	                                    <label class="custom-control-label" for="state-4" value="59">환불요청</label>
	                                </div>
	                                <div class="custom-control custom-radio custom-color-black ">
	                                    <input type="radio" class="custom-control-input" id="state-5" name="radio">
	                                    <label class="custom-control-label" for="state-5" value="60">환불완료</label>
	                                </div>
                                    </div>
                                    <div class="card-body border-top">
                                    	<button class="btn btn-secondary btn-lg btn-block" type="submit">검색하기</button>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end influencer sidebar  -->
                            <!-- ============================================================== -->
                            </div>                            
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end main wrapper  -->
            <!-- ============================================================== -->
            <!-- Optional JavaScript -->
            <!-- jquery 3.3.1 -->
            <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
            <!-- bootstap bundle js -->
            <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
            <!-- slimscroll js -->
            <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
            <!-- main js -->
            <script src="assets/libs/js/main-js.js"></script>
</body>
 
</html>